// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$yolo: rgb(255, 174, 0);
$yolo-t: rgba(255,242,206, 1);
$cool-gradient: linear-gradient(180deg, rgba(2,0,36, 1) 0%, rgba(108,16,104,1) 81%, rgba(199,255,244,1) 100%);
