<div class="index">
  <div class="container-fluid text-center p-5">
    <h1>One for the road</h1>
    <h3>Drink like you were a hollywood star</h3>
  </div>

  <div class="container d-flex flex-wrap col-10">

    <% @cocktails.each do |cocktail| %>
          <div class="col-4 cock-card" { background-image: linear-gradient(180deg, rgba(2,0,36,0.8822055137844611) 0%, rgba(108,16,104,0.2907268170426065) 81%, rgba(199,255,244,0.16541353383458646) 100%) url(<%= cocktail.image %>) }>
          <div class="mb-3" >
            <span><%= link_to cocktail.name , cocktail %></span>
          </div>
        </div>


    <% end %>
  </div>

  <div class="text-center p-5" >
      <h2> <%= link_to 'New cocktail', new_cocktail_path %></h2>
  </div>
</div>


